<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TalentoController</display-name>
    <servlet-name>TalentoController</servlet-name>
    <servlet-class>rodaviva.controller.TalentoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TalentoController</servlet-name>
    <url-pattern>/TalentoController</url-pattern>
  </servlet-mapping>
  <display-name>RodaViva</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NavController</display-name>
    <servlet-name>NavController</servlet-name>
    <servlet-class>rodaviva.controller.NavController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavController</servlet-name>
    <url-pattern>/NavController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpresaController</display-name>
    <servlet-name>EmpresaController</servlet-name>
    <servlet-class>rodaviva.controller.EmpresaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpresaController</servlet-name>
    <url-pattern>/EmpresaController</url-pattern>
  </servlet-mapping>
</web-app>