#listaParceiros{
    margin-top: 12% !important;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color: rgba(0, 0, 0, 0.5) !important;
}